<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditation and Sleep Made Simple</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    
    <div class="navbar">
        <!-- <img id="logo" src="mindMatters_logo.png"> -->
        <p id="MindMatters" style="color: black;">MindMatters</p>
        <a href="Home.html" id="ele1">Home</a>
        <a href="#" id="ele2">Articles and Resources</a>
        <a href="#" id="ele3">Meditation</a>
        <a href="#" id="ele4">Sleep</a>
        <a href="#" id="ele5">Mindfulness</a>
        <a href="#" id="ele6">Mental Health</a>
        <a href="#" id="ele7">Plans</a>
        <a href="#" id="ele8">For business</a>
        <a href="#" id="ele9">About</a>
        <a href="#" id="ele10">Help</a>
        <a href="#" id="ele11">Login</a>
    </div>
    

    <div class="section1">
        <div class="sec1_left">
            <p>What's new</p>
        </div>

        <div class="sec1_right">
            <p>Explore the latest in mindfulness, sleep, and mental health. From new meditations to sleep sounds, we've got you covered.</p>
        </div>
    </div>
    <br>

    <button id="Click_to_explore"><a href="categories.html">Click to explore!</a></button>
    </body>
</html>